@font-face {
  font-family: SFProText-Regular; 
  src: url(../fonts/SFProText-Regular.ttf); 
 }

.todo {
  display: grid;
  grid-template-columns: 22px auto;
  align-items: center;
  padding: 21px 0;
  border-bottom: 1px solid #E6E6E6;

  &-removed {
    grid-template-columns: 22px auto 73px;
  }
  
  &__checked {
    text-decoration: line-through;
  }

  & > img {
    width: 24px;
    height: 24px;
    color: white; 
  }

  &__value {
    font-family: SFProText-Regular;
    font-size: 18px;
    color: #666666;
    letter-spacing: 0.2px;
    line-height: 21px;
    padding-left: 10px;
    padding-right: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__button {
    width: 22px;
    height: 22px;
    border: 2px solid #11A9EC;
    border-radius: 100px;
    background-color: white;
    outline: none;
    overflow: hidden;
    transition: background-color 0.5s;

    &-checked {
      background-color: #11A9EC;
    }

    &:hover {
      cursor: pointer;
    }

    &-img {
      position: relative;
      width: 20px;
      height: 22px;
      left: -4px;
      top: -5px;
      font-weight: bold;
    }
  }

  &__date {
    display: none;
    font-family: SFProText-Regular;
    font-size: 12px;
    color: #CDCDCD;
    letter-spacing: 0;

    &-vizible {
      display: block;
    }
  }
}
