@font-face {
  font-family: SFProText-Semibold; 
  src: url(./fonts/SFProText-Semibold.ttf); 
 }

body {
  background-color: #11A9EC; 
  margin: 0 10%;
}

h1 {
  font-size: 36px;
  letter-spacing: 0;
  font-family: SFProText-Semibold;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 640px;
  min-height: 800px;
  height: max-content;

  &__title {
    color: #F7F7F7;
    margin: 53px 0 16px 16px; 
    width: 100%;
  }
}

.todos {
  min-height: 80vh;
  height: max-content;
  background: #F7F7F7;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.20);
  border-radius: 4px;
  padding: 32px 16px;

  &__title {
    color:  #11A9EC;
    margin-bottom: 13px;
  }
}
