@font-face {
  font-family: SFProText-Regular; 
  src: url(../fonts/SFProText-Regular.ttf); 
}

@font-face {
  font-family: SFProText-Heavy;
  src: url(../fonts/SFProText-Heavy.ttf); 
}

.input-block {
  
  &__form {
    position: relative;
    display: grid;
    grid-template-columns: auto 40px; 

    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 18px;
      height: 3px;
      background-color: #11A9EC;
      border-radius: 3px;
      top: 28px;
      left: 2px; 
    }
  
    &::after {
      content: ''; 
      position: absolute;
      top: 20px;
      left: 10px;
      display: block;
      width: 3px;
      height: 18px;
      background-color: #11A9EC;
      border-radius: 3px;
    }
    
    &-input {
      margin-left: 31px;
      padding: 19px 0;
      border: none;
      outline: none;
      background-color: transparent;
      color: #666666;
      font-family: SFProText-Regular;
      font-size: 18px;
      width: 88%;

      &::placeholder {
        color: #CCCCCC; 
      }

      &:focus .input-block {
        border-bottom: 1px solid #11A9EC;
      }
    }

    &-button {
      display: none;
      padding: 19px 0;
      width: 41px;
      font-family: SFProText-Heavy;
      font-size: 18px;
      color: #11A9EC;
      background-color: transparent;
      border: none;
      outline: none;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.underline {
  height: 1px;
  background-color: #E6E6E6;
}

.underline-focused {
  border-bottom: 2px solid #11A9EC;
  animation: underlineActive 0.5s; 
}

.button-focused {
  display: block;
  color: #E6E6E6;
}

.button-active {
  display: block;
  color: #11A9EC;
}

@keyframes underlineActive {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}


